.text40 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -2.5;
}
.text60 {
    font-size: 60px;
}
.text18 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
    text-indent: 3px;
}
.text16 {
    font-size: 16px;
    font-weight: 300;
    color: rgb(255, 255, 255, 0.4);
    text-indent: 3px;
}
.text-box {
    margin: 40px;
}

.fc-blue {
    color: #2259c5;
}
.fc-black {
    color: #000;
}
.bottom-box {
    background-color: #333;
    width: 1920px;
    height: 200px;
    margin-top: 100px;
}
.bg-gray {
    background: #ebebeb;
}
.exp {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 600;
    margin-bottom: 40px;
}

.coupon-container {
    z-index: 999;
    width: 420px;
    height: 180px;
    background-image: url("../assets/images/coupon_bg.svg"); /* 배경 이미지 경로 */
    background-size: cover; /* 배경 이미지 크기 */
    background-position: center; /* 배경 이미지 위치 */
    background-repeat: no-repeat; /* 배경 이미지 반복 여부 */
    color: white; /* 텍스트 색상 */
    text-align: center; /* 텍스트 정렬 */
    margin: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.coupon-content1 {
    /* float: left; */
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 125px;
    text-align: left;
    padding: 0px 15px 0px 15px;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
}

.coupon-content2 {
    height: 150px;
    width: 70px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    cursor: pointer;
}
.coupon-downBtn {
    margin-top: 60px;
}
.issue {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.issue-p {
    color: rgb(0, 0, 0, 0.4);
    font-weight: 600;
    background: #44a9ff;
    border-radius: 5px;
    width: 48px;
    height: 18px;
    font-size: 11px;
    line-height: 18px;
}
