/* flex-layout */
.inline-flex {display: inline-flex; flex-wrap: wrap;}
.flex {display: flex; flex-wrap: wrap;}
.justify-center {display: flex; justify-content: center;}
.space-between {display: flex; justify-content: space-between;}
.flex-end {display: flex; justify-content: flex-end;}
.align-center {display: flex; align-items: center;}
.align-start {display: flex; align-items: flex-start !important;}
.column-direction {display: flex; flex-direction: column;}
.row-direction {display: flex; flex-direction: row;}
.flex-grow {flex: 1 1;}

/* position-layout */
.pos-relative {position: relative;}
.pos-absolute {position: absolute;}

/* box-layout */
.box {background: #fff; border-radius: 8px; box-shadow: 5px 5px 15px rgba(0,0,0,0.2); height: 150px; margin-bottom: 40px;}

/* font */
.text-ellipsis {text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.title-blue {background: #5b718f;color: #fff; font-size: 20px; font-weight: 300; text-align: center; height: 50px; line-height: 50px; border-radius: 8px 8px 0 0;}
.title-blue a {color: #fff; display: block; height: 100%;}

.title-blue-box {background: #5b718f;border-radius: 8px 8px 0 0;height: 80px; display: flex; justify-content: space-between; align-items: center; padding: 0 35px;}
.title-blue-box h2,
.title-white-box h2 {color: #fff; font-size: 20px; font-weight: 700;}
.title-blue-box span {color: #fff; font-size: 15px; font-weight: 500; padding-left: 10px; position: relative;}
.title-blue-box span::after {content: "/"; position: absolute; top: 2px; left: 0; display: inline-block;}
.title-blue-box span:first-of-type::after {display: none;}
.title-blue-box span.apply-font{font-size: 20px; font-weight: 700;}
.title-blue-box input {width: 500px; color: #fff; font-size: 20px; font-weight: 700; background-color: inherit; padding: 8px; /* 내부 여백 예시 */}

.title-white-box {border-bottom: 1px solid #CBC9D7; height: 65px; line-height: 65px; text-align: center;}
.title-white-box h2 {color: #39435C;}

.no-underline {border-bottom: 0px;}


/* padding, margin */
.pdx15 {padding: 0 15px;}
.pdx20 {padding: 0 20px;}
.pdx25 {padding: 0 25px;}
.pdx30 {padding: 0 30px;}
.pdx55 {padding: 0 55px;}

.mt8 {margin-top: 8px;}
.mt10 {margin-top: 10px;}
.mb0 {margin-bottom: 0px !important;}
.mb8 {margin-bottom: 8px;}
.ml8 {margin-left: 8px;}


/* button */
.blue-btn {border-radius: 8px; font-weight: 500; font-size: 15px; color: #6d717c; padding: 10px 0px; text-align: center; width: 100px; background: #eff3f6;}
.title-btn {font-size: 16px;font-weight: 500; text-align: center; display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; color: #39435C;}
.check-btn{background: #fff; height: 35px; justify-content: center; align-items: center;}
.check-btn > .blue-btn{margin: 0px 17px;}


/* 토글버튼 */
.toggle-box {position: absolute; left: 24%; cursor: pointer;}
.toggle-box .toggle-button-cover {position: relative;}
.toggle-box .button {width: 61px;height: 28px;}
.toggle-box .button-cover,
.toggle-box .knobs,
.toggle-box .layer {position: absolute;top: 0;right: 0;bottom: 0;left: 0;}
.toggle-box .checkbox {position: relative;width: 100%;height: 100%;padding: 0;margin: 0;opacity: 0;cursor: pointer;z-index: 3;}
.toggle-box .knobs {z-index: 2;}
.toggle-box .layer {width: 100%;background-color: #ebf7fc;transition: 0.3s ease all;z-index: 1;}

.toggle-box .button.r,
.toggle-box .button.r .layer {border-radius: 100px;}
  
.toggle-box #button-3 .knobs:before {content: "대기";position: absolute;top: 3.5px;left: 4px;width: 29px;height: 11px;color: #fff;font-size: 11px;font-weight: 500;text-align: center;line-height: 1;padding: 5px 2px;background-color: #39435c;border-radius: 16px;transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);}
.toggle-box #button-3 .checkbox:active + .knobs:before {width: 46px;border-radius: 100px;}
.toggle-box #button-3 .checkbox:checked + .knobs:before {content: "확인";color: #39435c;left: 24px;background-color: #d7e3e3;}
.toggle-box #button-3 .checkbox:checked ~ .layer {background-color: #39435c;}


/* 접근권한 */
.show {display: block !important;}
.hide {display: none !important;}


/* width */
.w100p {width: 100% !important;}
.w70p {width: 70% !important;}
.w66p {width: 66.66% !important;}
.w50p {width: 50% !important;}
.w33p {width: 33.33% !important;}
.w30p {width: 30% !important;}
.w25p {width: 25% !important;}
.w20p {width: 20% !important;}
.w10p {width: 10% !important;}


/* height */
.h100p {height:100% !important;}
.h600 {height: 600px !important;}
.h530 {height: 530px !important;}
.h500 {height: 500px !important;}
.h400 {height: 400px !important;}
.h320 {height: 320px !important;}
.h300 {height: 300px !important;}
.h260 {height: 260px !important;}
.h190 {height: 190px !important;}

/* scroll */
.scroll {height: 500px; overflow-y: auto;}
.scroll::-webkit-scrollbar {width: 11px; border-radius: 11px;}
.scroll::-webkit-scrollbar-thumb {background: #ededed; border-radius: 11px;}


/* select, input */
select {-o-appearance: none; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
.select {width: 150px; height: 30px; border: 1px solid #CBC9D7; border-radius: 4px; font-size: 14px; font-weight: 300; padding: 0 8px; cursor: pointer;}
.select option {font-size: 12px; font-weight: 300;}

/* common */
.container {max-width: 700px; margin: 0 auto;}