/* TODO:
4) 관심상품 이미지 - 북마크 아이콘버튼 넣기
7) 이벤트 배너
10) 판매자 등급 호버 효과..
11) 쿠폰, 회원탈퇴 링크연결

body에 line-height = 1 꼭 필요한가?
*/


.full-container {
    margin-bottom: 50px;
    color: var(--black);
}

.data-container {
    margin-bottom: 80px;
}

.detail-history-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

/* 1. 프로필 */
.profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    height: 100px;
}

.profile {
    display: flex;

    padding-left: 30px;
}

.profile div {
    line-height: 1.5;
    margin-top: 2px;
}
.profile div p:first-child {
    font-weight: bolder;
}
.profile div p:nth-child(2) {
    color: #ababab;
    font-size: 0.8rem;
}

.button-container {
    display: flex;
    gap: 10px;
    padding-right: 30px;
}
.profile-container div Button {
    border: 1px solid #ebebeb;
    border-radius: 10px;
}


/* 2. 버튼들 */
.buttons {
    display: flex;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    height: 130px;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* 3. 구매내역, 판매내역, 응모내역 */
.bidding-cancel-btn {
    background-color: #333;
    color: white;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 10px;
}
.bidding-cancel-btn:hover {
    background-color: #000;
}


.history-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    margin-top: 40px;

}

.history-title p {
    font-weight: bolder;
    font-size: 1.5rem;
}

.history-title a {
    color: var(--palegrey);
    text-decoration: none;
    position: relative;
    margin-right: 15px;
}
.history-title a::after {
    content: ">";
    position: absolute;
    top: -1px;
    right: -15px;
    color: var(--palegrey);
}

.history-title a:hover {
    color: var(--grey);
}
.history-title a:hover::after {
    
    color: var(--grey);
}


.buy-summary, .sale-summary, .draw-summary {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background-color: #f9f9f9;
    height: 100px;
    color: #000;
}

.buy-summary div, .sale-summary div, .draw-summary div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
}

.buy-summary div:nth-child(1), .sale-summary div:nth-child(1), .draw-summary div:nth-child(1) {
    border-right: 1px solid #d9d9d9;
}

.buy-summary span, .sale-summary span, .draw-summary span {
    font-size: 1.5rem; 
    font-weight: bold;
    margin-top: 5px;
}

.buy-summary div:first-child span {
    color: #3F6EC9;
}

.sale-summary div:first-child span {
    color: #31B461;
}

.buy-item, .sale-item, .draw-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    padding: 15px 15px;
}

.buy-item div, .sale-item div {
    flex: 7;
    margin-left: 20px;
}
.draw-item > div {
    display: flex;
    flex-direction: column;
    flex: 6;
    margin-left: 20px;
    min-width: 0;
}

.buy-item p, .sale-item p {
    flex: 1;
    margin-left: 20px;
}
.draw-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    display: inline-block;
}
 
.draw-date {
    flex: 2;
    margin-left: 20px;
}
.draw-status {
    flex: 1;
    margin-left: 20px;
}

.non-history {
    color: #ababab !important;
    text-align: center;
    margin: 20px 0;
}


/* 4. 이벤트 배너 */
.mypage-banner {
    /* border: 1px solid #000; */
    /* height: 110px; */
    margin-top: 30px;
    /* object-fit: cover; */
    width: 100%;
    height: 150px;

}


/* 5. 관심상품 */
.bookmark-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.bookmark-item {
    margin-bottom: 10px;
}

.bookmark-text1, 
.bookmark-text2, 
.bookmark-text3, 
.bookmark-text4 {
    margin-top: 7px;
}

.bookmark-text1, .bookmark-text4 {
    font-weight: bold;
}
.bookmark-text3 {
    background-color: #FFEEF4;
    color: rgba(255, 0, 0, 0.5) !important;
    font-size: 0.7rem;
    display: inline-block;
    padding: 2px 2px;
}
.bookmark-text5 {
    color: #ababab !important;
    font-size: 0.8rem;
    margin-top: 2px;
}


/* 프로필 관리 */
.profile-top-container {
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
    padding: 20px;
    margin-top: 80px;
}

.profileImg-modify-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.profile-input-label {
    color: var(--white);
    background-color: #333;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: var(--ft14);
    font-weight: var(--semibold);
    padding: 8px 10px;
    margin-top: 4px;
    display: inline-block;
}

#file-input {
    position: absolute;
    left: -9999px;
    top: -9999px;
    opacity: 0;
    cursor: pointer;
}

.modify-nickname, .modify-email, .modify-phone, .modify-password {
    margin-bottom: 25px;
    border-bottom: 1px solid #d9d9d9;
    padding: 10px 0;
}
.modify-nickname, .modify-email {
    width: 270px;
}
.modify-phone, .modify-password {
    width: 500px;
}

.profile-bottom-container {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;  
   margin-top: 30px;
}

.profile-button {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.profile-button button {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
}

.profile-button button[type="button"]:first-of-type {
    background-color: #333;
    color: white;
}

.profile-button button[type="button"]:last-of-type {
    background-color: #f4f4f4;
}







/* 배송지 관리 */
.addresses-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.address-card {
    padding: 20px 0;
    border-bottom: 1px solid #d6d6d6;
    display: flex;
    align-items: end;
    gap: 10px;
}

.address-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.address-header {
    display: flex;
    align-items: center;
}

.address-name {
    font-weight: bold;
    font-size: 16px;
    color: var(--black);
}

.default-badge {
    background-color: #f4f4f4;
    margin-left: 10px;
    color: var(--black);
    padding: 5px 5px;
    border-radius: 15px;
    font-size: 12px;
}

.address-phone,
.address-zonecode,
.address-detail {
    font-size: 14px;
    color: #181818;
}

.address-actions {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.address-actions button, .add-button {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    background-color: #f4f4f4;
    cursor: pointer;
}

.address-actions button:hover, .add-button:hover {
    background-color: #e2e6ea;
}

.address-actions button:first-of-type {
    background-color: #333;
    color: white;
}

.address-actions button:first-of-type:hover {
    background-color: var(--black);
}


/* 계좌 관리 */
.account-details, .no-account {
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.account-details p, .no-account p {
    margin: 20px 0;
    color: var(--black);
    display: flex;
   align-items: center;
}
.account-details p strong {
    flex-grow: 1;
    max-width: 100px; 
}

.no-account button, .account-btn button, .account-details button{
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #333;
    color: white;
    font-size: 14px;
    margin-right: 10px;
}

.account-details button:hover,
.account-btn button:hover {
    background-color: var(--black);
}

.account-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.account-btn button:nth-of-type(2) {
    background-color: #f4f4f4;
    color: var(--black);
}

.account-btn button:nth-of-type(2):hover {
    background-color: #999; 
}

.account-form {
    color: var(--black);
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.account-form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.account-form label {
    font-weight: bold;
}

.account-form input {
    padding: 10px;
    border-bottom: 1px solid #d9d9d9;
    border-radius: 5px;
    font-size: 14px;
    width: 300px;
    box-sizing: border-box;
}






/* img 관련 */
.profile img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-right: 20px;
}

.button img {
    width: 28px;
    height: 28px;
    margin-bottom: 10px;
    cursor: pointer;
}

.buy-item img, .sale-item img, .draw-item img {
    border-radius: 10px;
    width: 80px;
    height: 80px;
    -o-object-fit: cover;
       object-fit: cover;
}

.bookmark-item img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    -o-object-fit: cover;
       object-fit: cover;
}

.modify-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 20px; */
    border: 1px solid #000;
  }
  
  .modify-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .file-input-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    position: relative;
  }
  
  .file-input-label {
    font-size: 15px;
    padding: 10px 15px;
    color: white;
    background-color: var(--apply);
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }


  .bookmark-tab {
    margin-bottom: 30px;
  }