/* 공통 */

.info_area {
    margin-top: 8px;
    background-color: #fff;
    padding: 32px;
}
.bold_title {
    color: #181818;
    font-size: 14px;
    font-weight: 700;
    min-width: 54px;
}
.border_box {
    border-radius: 10px;
    border: 1px solid #ebebeb;
}
.delivery_title > a,
.btn_box > a {
    color: rgba(34, 34, 34, 0.5);
}

.sub_text {
    font-size: 13px;
    color: rgba(34, 34, 34, 0.5);
}
.flex_space {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main_title {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 12px 0px;
}

.title_txt {
    font-size: 18px;
    font-weight: 600;
    color: #181818;
}
.border_line {
    border-top: 1px solid #ebebeb;
    margin: 20px 0px;
}

.desc {
    font-size: 14px;
    color: #000;
}
.bold {
    font-weight: 600;
}
.buy_bg {
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
}
.buy_container {
    width: 700px;
}

/* 상품 */

/* .product_model_number {
    color: #181818;
    font-size: 14px;
    font-weight: 600;
} */
.model_eng {
    color: #181818;
    font-size: 14px;
}
.model_kor {
    color: rgba(34, 34, 34, 0.5);
    font-size: 13px;
}
.size_txt {
    color: #181818;
    font-size: 14px;
    font-weight: 800;
}
.product_detail {
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
}

.product_info {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.buy_product img {
    background: #f4f4f4;
    border-radius: 10px;
    width: 80px;
    height: 80px;
}

/* 배송 */
.way_img {
    width: 40px;
    margin: 0px 16px;
}
.way_info {
    margin-top: 12px;
    height: 65px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}
.way_desc {
    height: 37px;
}
.post {
    /* text-indent: 6px; */
    display: flex;
    flex-direction: row;
    /* justify-content: sp; */
}
.btn_shipping_memo > img {
    width: 4px;
    height: 8px;
}
.memo_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px 0px 15px;
}

.delivery_info {
    margin: 12px 0px;
    width: 636px;
    height: 63px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.delivery_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info_list {
    height: 63px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-content: space-between; */
}
.info_box {
    display: flex;
    flex-direction: row;
}
.buy_title {
    font-size: 13px;
    min-width: 80px;
    color: rgba(34, 34, 34, 0.5);
}

dt.title {
    width: 80px;
}
dd.desc {
    width: 476px;
}
.btn_box {
    align-self: center;

    /* width: 50px; */
}
.btn_edit {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    /* width: 50px; */
    height: 34px;

    color: rgba(34, 34, 34, 0.5);
    font-size: 12px;
    padding: 0 14px;
}

.btn_shipping_memo {
    text-align: start;
    width: 636px;
    height: 48px;
}

.coupon_info_area {
    height: 169px;
}

/* 쿠폰 */
.coupon_info_area > .desc {
    margin: 12px 0px 6px 0px;
}
.coupon_box {
    padding: 0px 15px 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_title > .sub_text {
    margin-left: 6px;
    font-size: 12px;
}
.payment_btn {
    padding: 16px;
    height: 60px;
    width: 208px;
    text-align: start;
    align-items: center;
    justify-content: space-between;
    display: flex;

    margin-bottom: 10px;
}
/* .main_title; */
.pay_img {
    height: 40px;
    width: 40px;
}
/* 주문 */
.final_order_info_area {
    /* height: 230px; */
    padding: 32px 32px 6px 32px;
}
.sell_final {
    /* height: 190px; */
}
.order_main_title > .order_item {
    display: flex;
    justify-content: space-between;
    margin: 14px 0px;
}
.order_main_title div:first-child > .desc {
    margin-top: 2px;
}
.order_item > .sub_text {
    font-size: 14px;
}

/* order_payment */
.order_payment_area {
    background-color: #fafafa;
    margin: 2px 0px -6px 0px;
    height: 90px;
    padding: 22px 32px 22px 32px;
    /* display: flex; */
}
.pay_text16 {
    font-size: 16px;
    color: black;
}
.pay_text20 {
    margin-top: 13px;
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-align: end;
}
.pay_btn_box {
    height: 52px;
    border-radius: 10px;
    /* background: #d3d3d3; */
    background-color: #537fef;
    justify-content: center;
    text-align: center;
    display: flex;
}
.pay_btn {
    border-radius: 10px;
    height: 52px;
    width: 636px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}
.result_wrapper {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.pay_btn:disabled {
    background-color: #d6d6d6; /* 비활성화 상태 배경색 */
    color: #ffffff; /* 비활성화 상태 텍스트 색상 */
    cursor: not-allowed; /* 비활성화 상태 커서 스타일 */
}

.order_box_section {
    width: 440px;
    height: 708px;
    background-image: url("../assets/images/order.svg"); /* 배경 이미지 경로 */
    background-size: cover; /* 배경 이미지 크기 */
    background-position: center; /* 배경 이미지 위치 */
    background-repeat: no-repeat; /* 배경 이미지 반복 여부 */
}
.account_info_area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.account_info > .title_txt {
    margin-bottom: 4px;
}
.account_info {
    height: 68px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.account_btn {
    align-self: end;
}
